html{
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:-webkit-autofill
{
 -webkit-text-fill-color: #000 !important;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #000;
border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #000;
}

@keyframes logoBordas{
    0%{
        stroke-dasharray: 200 60;
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dasharray: 200 60;
        stroke-dashoffset: 1000;
    }
}

@keyframes logoGetIn{
    0%{
        transform: translate3d(0, 70px, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes logoFill{
    0%{
        fill-opacity: 0;
    }
    100%{
        fill-opacity: 0.5;
    }
}

@keyframes logoGetOut{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, -70px, 0);
        opacity: 0;
    }
}

.icone_startril_svg__introLogo{
    animation: logoGetIn 1s, 1s logoGetOut 7s forwards;
}

.icone_startril_svg__introLogo path{
    fill-opacity:0;
    animation: logoBordas 5s ease infinite alternate, 1s logoFill 5s forwards;
}

@keyframes hall{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility:hidden;
    }
}

.intro{
    animation: 2s hall 7s ease forwards;
}