.dnaAnimation{
    perspective: 1000px;
}

@keyframes node{
    0%{
        transform: rotateY(0deg)
    }
    100%{
        transform: rotateY(360deg)
    }
}

.dnaAnimation > div:first-child{
    -webkit-animation: node 8s linear .09s infinite alternate;
    animation: node 8s linear .09s infinite alternate;
}

.dnaAnimation > div:nth-child(2){
    -webkit-animation: node 8s linear .18s infinite alternate;
    animation: node 8s linear .18s infinite alternate;
}

.dnaAnimation > div:nth-child(3){
    -webkit-animation: node 8s linear .27s infinite alternate;
    animation: node 8s linear .27s infinite alternate;
}

.dnaAnimation > div:nth-child(4){
    -webkit-animation: node 8s linear .36s infinite alternate;
    animation: node 8s linear .36s infinite alternate;
}

.dnaAnimation > div:nth-child(5){
    -webkit-animation: node 8s linear .45s infinite alternate;
    animation: node 8s linear .45s infinite alternate;
}

.dnaAnimation > div:nth-child(6){
    -webkit-animation: node 8s linear .54s infinite alternate;
    animation: node 8s linear .54s infinite alternate;
}

.dnaAnimation > div:nth-child(7){
    -webkit-animation: node 8s linear .63s infinite alternate;
    animation: node 8s linear .63s infinite alternate;
}

.dnaAnimation > div:nth-child(8){
    -webkit-animation: node 8s linear .72s infinite alternate;
    animation: node 8s linear .72s infinite alternate;
}

.dnaAnimation > div:nth-child(9){
    -webkit-animation: node 8s linear .8s infinite alternate;
    animation: node 8s linear .8s infinite alternate;
}

.dnaAnimation > div:nth-child(10){
    -webkit-animation: node 8s linear .88s infinite alternate;
    animation: node 8s linear .88s infinite alternate;
}

.dnaAnimation > div:nth-child(11){
    -webkit-animation: node 8s linear .96s infinite alternate;
    animation: node 8s linear .96s infinite alternate;
}

.dnaAnimation > div:nth-child(12){
    -webkit-animation: node 8s linear 1.04s infinite alternate;
    animation: node 8s linear 1.04s infinite alternate;
}

.dnaAnimation > div:nth-child(13){
    -webkit-animation: node 8s linear 1.12s infinite alternate;
    animation: node 8s linear 1.12s infinite alternate;
}

.dnaAnimation > div:nth-child(14){
    -webkit-animation: node 8s linear 1.20s infinite alternate;
    animation: node 8s linear 1.20s infinite alternate;
}

.dnaAnimation > div:nth-child(15){
    -webkit-animation: node 8s linear 1.28s infinite alternate;
    animation: node 8s linear 1.28s infinite alternate;
}

.dnaAnimation > div:nth-child(16){
    -webkit-animation: node 8s linear 1.36s infinite alternate;
    animation: node 8s linear 1.36s infinite alternate;
}

.dnaAnimation > div:nth-child(17){
    -webkit-animation: node 8s linear 1.44s infinite alternate;
    animation: node 8s linear 1.44s infinite alternate;
}

.dnaAnimation > div:nth-child(18){
    -webkit-animation: node 8s linear 1.52s infinite alternate;
    animation: node 8s linear 1.52s infinite alternate;
}

.dnaAnimation > div:nth-child(19){
    -webkit-animation: node 8s linear 1.60s infinite alternate;
    animation: node 8s linear 1.60s infinite alternate;
}

.dnaAnimation > div:nth-child(20){
    -webkit-animation: node 8s linear 1.68s infinite alternate;
    animation: node 8s linear 1.68s infinite alternate;
}

.dnaAnimation > div:nth-child(21){
    -webkit-animation: node 8s linear 1.76s infinite alternate;
    animation: node 8s linear 1.76s infinite alternate;
}

.dnaAnimation > div:nth-child(22){
    -webkit-animation: node 8s linear 1.84s infinite alternate;
    animation: node 8s linear 1.84s infinite alternate;
}

.dnaAnimation > div:nth-child(23){
    -webkit-animation: node 8s linear 1.92s infinite alternate;
    animation: node 8s linear 1.92s infinite alternate;
}

.dnaAnimation > div:nth-child(24){
    -webkit-animation: node 8s linear 2.00s infinite alternate;
    animation: node 8s linear 2.00s infinite alternate;
}

.dnaAnimation > div:nth-child(25){
    -webkit-animation: node 8s linear 2.08s infinite alternate;
    animation: node 8s linear 2.08s infinite alternate;
}

.dnaAnimation > div:nth-child(26){
    -webkit-animation: node 8s linear 2.16s infinite alternate;
    animation: node 8s linear 2.16s infinite alternate;
}

.dnaAnimation > div:nth-child(27){
    -webkit-animation: node 8s linear 2.24s infinite alternate;
    animation: node 8s linear 2.24s infinite alternate;
}

.dnaAnimation > div:nth-child(28){
    -webkit-animation: node 8s linear 2.32s infinite alternate;
    animation: node 8s linear 2.32s infinite alternate;
}

.dnaAnimation > div:nth-child(29){
    -webkit-animation: node 8s linear 2.40s infinite alternate;
    animation: node 8s linear 2.40s infinite alternate;
}

.dnaAnimation > div:nth-child(30){
    -webkit-animation: node 8s linear 2.48s infinite alternate;
    animation: node 8s linear 2.48s infinite alternate;
}

.dnaAnimation > div:nth-child(31){
    -webkit-animation: node 8s linear 2.56s infinite alternate;
    animation: node 8s linear 2.56s infinite alternate;
}

.dnaAnimation > div:nth-child(32){
    -webkit-animation: node 8s linear 2.64s infinite alternate;
    animation: node 8s linear 2.64s infinite alternate;
}

.dnaAnimation > div:nth-child(33){
    -webkit-animation: node 8s linear 2.72s infinite alternate;
    animation: node 8s linear 2.72s infinite alternate;
}

.dnaAnimation > div:nth-child(34){
    -webkit-animation: node 8s linear 2.80s infinite alternate;
    animation: node 8s linear 2.80s infinite alternate;
}

.dnaAnimation > div:nth-child(35){
    -webkit-animation: node 8s linear 2.88s infinite alternate;
    animation: node 8s linear 2.88s infinite alternate;
}

.dnaAnimation > div:nth-child(36){
    -webkit-animation: node 8s linear 2.96s infinite alternate;
    animation: node 8s linear 2.96s infinite alternate;
}

.dnaAnimation > div:nth-child(37){
    -webkit-animation: node 8s linear 3.04s infinite alternate;
    animation: node 8s linear 3.04s infinite alternate;
}

.dnaAnimation > div:nth-child(38){
    -webkit-animation: node 8s linear 3.12s infinite alternate;
    animation: node 8s linear 3.12s infinite alternate;
}

.dnaAnimation > div:nth-child(39){
    -webkit-animation: node 8s linear 3.20s infinite alternate;
    animation: node 8s linear 3.20s infinite alternate;
}

.dnaAnimation > div:nth-child(40){
    -webkit-animation: node 8s linear 3.28s infinite alternate;
    animation: node 8s linear 3.28s infinite alternate;
}

.dnaAnimation > div:nth-child(41){
    -webkit-animation: node 8s linear 3.36s infinite alternate;
    animation: node 8s linear 3.36s infinite alternate;
}

.dnaAnimation > div:nth-child(42){
    -webkit-animation: node 8s linear 3.44s infinite alternate;
    animation: node 8s linear 3.44s infinite alternate;
}

.dnaAnimation > div:nth-child(43){
    -webkit-animation: node 8s linear 3.52s infinite alternate;
    animation: node 8s linear 3.52s infinite alternate;
}

.dnaAnimation > div:nth-child(44){
    -webkit-animation: node 8s linear 3.60s infinite alternate;
    animation: node 8s linear 3.60s infinite alternate;
}

.dnaAnimation > div:nth-child(45){
    -webkit-animation: node 8s linear 3.68s infinite alternate;
    animation: node 8s linear 3.68s infinite alternate;
}

.dnaAnimation > div:nth-child(46){
    -webkit-animation: node 8s linear 3.76s infinite alternate;
    animation: node 8s linear 3.76s infinite alternate;
}

.dnaAnimation > div:nth-child(47){
    -webkit-animation: node 8s linear 3.84s infinite alternate;
    animation: node 8s linear 3.84s infinite alternate;
}

.dnaAnimation > div:nth-child(48){
    -webkit-animation: node 8s linear 3.92s infinite alternate;
    animation: node 8s linear 3.92s infinite alternate;
}

.dnaAnimation > div:nth-child(49){
    -webkit-animation: node 8s linear 4.00s infinite alternate;
    animation: node 8s linear 4.00s infinite alternate;
}

.dnaAnimation > div:nth-child(50){
    -webkit-animation: node 8s linear 4.08s infinite alternate;
    animation: node 8s linear 4.08s infinite alternate;
}